:root {
  /* Light mode */
  --primary-color: rgba(112, 181, 255, 1);
  --secondary-color: rgba(189, 221, 255, 1);
  --background-color: rgba(82, 104, 128, 0.541);
  --main-text: rgba(29, 47, 66, 0.904);
  --secondary-text: #666666;
  --error-color: #D9534F;
  --success-color: #5CB85C;
  --warning-color: #F0AD4E;
}
.text, p {
  color: var(--main-text) !important;
  }
/* font-family: 'Caveat', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Roboto', sans-serif; */
* {
  border: solid 1px red;
  /* color: var(--main-text); */
}
.App {
  text-align: center;
  background-color: var(--primary-color);
}

.article {
  text-align: left !important;
}
.myName {
  font-family: 'Caveat', cursive;
  color: var(--secondary-color);
  font-size: 3rem;
  text-shadow: 3px 3px var(--background-color);
}

.headshot{
  border-radius: 5px;
}
.projectimage {
  height: 10%;
  width: 10%;
}
h1, h2, h3, h4, h5, h6, p, span, li, blockquote, th, td, caption, label, button, input[type="text"], textarea{
  color: var(--main-text);
  font-family: 'Roboto', sans-serif;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.navtitle {
  font-family: 'Permanent Marker', cursive;
}

.navtitle:hover {
  border-bottom: 2px solid var(--secondary-color);
}

.githublink .icon {
  color: rgba(85, 26, 139, 1) !important;
}

.linkedinlink .icon {
  color: rgba(0, 0, 238, 1);
}

.social-links > a, .social-links .icon {
  background-color: var(--background-color);
}

.social-links {
  position: fixed;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.icon {
  width: 50px;
  height: 50px;    /* Desired width */
  margin: 10px 0;   /* Desired height */
}

form > .button, .button{
  border: solid 3px var(--secondary-color);
  border-radius: 3px;
}

.button:hover {
  border: solid 3px var(--main-text);
  border-radius: 3px;
}
.header-container {
  background-color: var(--background-color);
  border-radius: 5px;
}

.framework-card {
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
  background-color: var(--primary-color);
  color: var(--main-text);
}

.framework-card:hover {
  background-color: var(--secondary-color);
  transform: scale(1.05);
}

.framework-card img {
  height: 100px; 
  width: 100px;
  margin: 0 auto;
  display: block;
}